<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">Puertas de seguridad</h1>
      <div class="row center">
        <h5 class="header col s12">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="http://res.cloudinary.com/dyujxfph9/image/upload/v1457877254/main-small_j60kyr.jpg" alt="Portada" />
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Misión</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Algunos de nuestros trabajos</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="http://res.cloudinary.com/dyujxfph9/image/upload/v1457877298/particioneschica_briunr.gif" alt="Trabajos" />
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12">
        <div class="icon-block center">
          <h5 class="center">Algunos de nuestros clientes</h5>
          <img src="http://res.cloudinary.com/dyujxfph9/image/upload/v1457877241/aiep-logo_l7xkwl.png" alt="Cliente logo" class="client-logo" />
          <img src="http://res.cloudinary.com/dyujxfph9/image/upload/v1457877236/jumbo-logo_igpdgv.png" alt="Cliente logo" class="client-logo" />
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Americandoors</h5>
        <p class="grey-text text-lighten-4">
          La información y el contenido de este sitio web es propiedad intelectual registrada de Americandoors.cl.
          <br>Todas las marcas comerciales, marcas de servicio y nombres comerciales son propiedad de Americandoors.cl,
          <br>
          Derechos de autor 2010
          <br>
          Todos los derechos reservados a Americandoors.cl
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Americandoors ltda
    </div>
  </div>
</footer>
