<div class="col s4">
  <div class="card hoverable">
    <div class="card-image">
      <%= image_tag product.cover.url.to_s %>
    </div>
    <div class="card-content">
      <p><%= product.name %> <br> <%= number_to_currency(product.price, unit: "$")%> CLP</p>
    </div>
    <div class="card-action">
      <%= link_to "Ver detalles", product, class: "btn btn-default waves-effect waves-light" %>
    </div>
  </div>
</div>
