<div class="row">
  <div class="col s3" >
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag @product.cover.url.to_s %>
      </div>
      <div class="card-content">
        <p><%= @product.name %> <br> <%= number_to_currency(@product.price, unit: "$")%> CLP</p>
      </div>
    </div>
  </div>
  <div class="col s9">
    <%= @product.description.html_safe %>
  </div>
</div>
